
<div class="container-fluid" style="background-color: #5e5c0a;">

        <tabset>
                <tab heading="Calcul X puissance N">
                <app-calcul></app-calcul>
                </tab>
                
                <tab heading="Calcul TAV">
                        <app-tva></app-tva>
                </tab>

                <tab heading="Calcul Convertir">
                        <app-conversion></app-conversion>
                </tab>  
                              
        </tabset>
</div>