<p>welcome works!</p>
<hr/>
    <bsu-toggle-panel title="Toggel Panneau 1">
        <tabset>
            <tab heading="onglet 1">
                appli angular {{title}}
            </tab>
            <tab heading="onglet 2">
                contenu onglet 2
            </tab>
        </tabset>
    </bsu-toggle-panel>

    <bsu-toggle-panel title="Toggel Panneau 2">
        <tabset>
            <tab heading="onglet 1">
                appli angular {{title}}
            </tab>
            <tab heading="onglet 2">
                contenu onglet 2
            </tab>
       </tabset>
    </bsu-toggle-panel>
